{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ goal.title }}</h1>
                <p class="post-subtitle">{{ goal.author }} | {{ goal.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in goal.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                {% else %}
                <img src="{{ goal.featured_image.url }}" class="scale" alt="{{ goal.title }}">
                {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">

                <p class="card-text">
                    {{ goal.content | safe }}
                </p>
            </div>
        </div>
    </div>
    <!-- This shows number of added tasks -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="fa-solid fa-bars-progress"></i></i> {{ task_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Tasks -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Tasks:</h3>
            <div class="card-body">
                {% for task in tasks %}
                <div class="p-2 tasks">
                    <p class="font-weight-bold">
                        You 
                        <span class="font-weight-normal">
                            {{ task.created_on }}
                        </span> added:
                    </p>
                    <div id="task{{ task.id }}">
                        {{ task.body | linebreaks }}
                    </div>
                    {% if user.is_authenticated and task.author == user %}
                    <button class="btn btn-delete" task_id="{{ task.id }}">Delete</button>
                    <button class="btn btn-edit" task_id="{{ task.id }}">Edit</button>
                    {% endif %}
                </div>
                <!-- This is the end.. but only of this for loop -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Tasks -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Add a new task:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="taskForm" method="post"
            style="margin-top: 1.3em;">
            {{ task_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-signup btn-lg">OK</button>
          </form>
          {% else %}
          <p>Log in to add a task</p>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<!-- A modal for task deletion confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete task?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do You want to delete this task? The action is irreversible.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}