{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Here's where index.html content goes -->
<div class="container-fluid">
    <div class="row">

        <!-- Goals List Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for goal in goals %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ goal.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'goal_detail' goal.slug %}" class="goal-link">
                                <h2 class="card-title">{{ goal.title }}</h2>
                                <p class="card-text">{{ goal.excerpt }}</p>
                            </a>

                            <hr />
                            <ul>
                                {%for task in goal.tasks.all%}
                                    <li>{{task.body}}</li>
                                {%endfor%}
                            </ul>
                            <p class="card-text text-muted h6">{{ goal.created_on }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>

        <!-- The Add Goal form goes here -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
             
              <h3>Create a new goal:</h3>
              <p>Added by: {{ user.username }}</p>
              <form id="goalForm" method="post"
                style="margin-top: 1.3em;">
                {{ form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit"
                  class="btn btn-signup btn-lg">Submit</button>
              </form>
              {% if user.is_authenticated %}show form{% else %}
              <p>Log in to create a goal</p>
              {% endif %}
            </div>
          </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> PREV &raquo;></a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
copyright 2024 Dym077
{% endblock %}