{% extends "base.html" %}

{% block content %}

<!-- Here is where index.html content goes-->
<div class="container-fluid">
    <div class="row"></div>
    <!-- Goals column-->
    <div class="container">
        <h1 class="my-5 text-center">Goals List</h1>
        <nav class="navbar navbar-expand-xl navbar-dark sticky-top create_panel">
    </div>
    <div class="container-fluid" id="goals-nav-container">
        <button class="navbar-toggle" type="button" >

        </button>

    </div>

<!-- index.html content ends here -->

{% endblock %}

{% block copyright %}
    Copyright 2024 Andreas Sandberg
{% endblock %}    